			/******** DARK MODE STYLES ********/
			
			/* Dark mode styles for webkit-based clients (MacOS/iOS mail, Outlook for Mac, etc.) */
			
			@media (prefers-color-scheme: dark ) {
				
				.dm-hide {
					width: 0px !important;
					height: 0px !important;
					display: none !important;
				}
				
				.dm-show {
					display: block !important;
					margin: 0 !important;
					padding: 0 !important;
					width: 100% !important;
					max-height: inherit !important;
					height: auto !important;
					overflow: visible !important;
				}
				
				.dm-bg-dark { 
					background-color: $[color_1] !important; 
					border-color: $[color_2] !important;
				}
				
				.dm-bg-light { 
					background-color: $[color_2] !important; 
					background: url("https://mwcm.nyt.com/dam/mkt_assets/email/global/dm/FFFFFF.png"); 
					border-color: $[color_1] !important;
				}
				
				.dm-txt-dark { 
					color: $[color_1] !important; 
					-webkit-text-fill-color: $[color_1] !important; /* For Outlook 2019 (Mac) */
				}
				
				.dm-txt-light { 
					color: $[color_2] !important; 
					-webkit-text-fill-color: $[color_2] !important; /* For Outlook 2019 (Mac) */
				}
				
			}
			
			/* Dark mode styles for Outlook.com */
			
			[data-ogsc] .dm-hide {
				width: 0px !important;
				height: 0px !important;
				display: none !important;
			}

			[data-ogsc] .dm-show, [data-ogsb] [class~="x_dm-show"] {
				display: block !important;
				margin: 0 !important;
				padding: 0 !important;
				width: 100% !important;
				max-height: inherit !important;
				height: auto !important;
				overflow: visible !important;
			}
			
			[data-ogsc] .dm-bg-dark { 
				background-color: $[color_1] !important; 
				border-color: $[color_2] !important;
			}

			[data-ogsb] [class~="x_dm-bg-dark"] { 
				background-color: $[color_1] !important; /* Default dark mode background color in Outlook.com for Windows */
				border-color: $[color_2] !important;
			} 
			
			[data-ogsc] .dm-bg-light, [data-ogsb] [class~="x_dm-bg-light"] { 
				background-color: $[color_2] !important; 
				background: url("https://mwcm.nyt.com/dam/mkt_assets/email/global/dm/FFFFFF.png"); 
				border-color: $[color_1] !important;
			}
			
			[data-ogsc] .dm-txt-dark { 
				color: $[color_1] !important; 
			}
			
			[data-ogsb] [class~="x_dm-txt-dark"] { 
				color: #7f7f7f !important; /* Color set to a "mid-grey" to prevent inversion by Outlook.com for Windows */
			}
			
			[data-ogsc] .dm-txt-light, [data-ogsb] [class~="x_dm-txt-light"] { 
				color: $[color_2] !important; 
			}
			
			/* Dark mode styles for Gmail */
			
			u + .nyt .gm-diff { background-color: $[color_2]; mix-blend-mode: difference; }
			u + .nyt .gm-bg-light { background-color: $[color_2]; background: url("https://mwcm.nyt.com/dam/mkt_assets/email/global/dm/FFFFFF.png"); }
			
			/******** DARK MODE STYLES END ********/